<h2>Sign up</h2>

<% if @user.errors.any? %>

  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<%= simple_form_for @user do |f| %>
  <%= f.input :username, placeholder: 'Username', label: false%>
  <%= f.input :email, placeholder: 'Email', label: false %>
  <%= f.input :password, placeholder: 'Password', label: false %>
  <%= f.input :password_confirmation, placeholder: 'Confirm password', label: false %>
  <%= f.input :real_name, placeholder: 'Real name', label: false %>
  <%= f.input :photo, placeholder: 'Upoload avatar', label: false %>
  <%= f.button :submit, class: "button", value: "Sign-up" %>
<% end %>
