<p class="button"><%= link_to "See all reviews", reviews_path %></p>

<h2><%= @content.title %></h2>

<p><%= simple_format @content.body %></p>

<% if @content.image.present? %>
  <div class="main-image"><%= image_tag @content.image.to_s %></div>
<% end %>

<div class="review_highlights">
  <div class="half">
    <h2>Highly rated reviews</h2>
    <p><%= render partial: "review", collection: @highly_rated_reviews %></p>
  </div>
  <div class="half">
    <h2>Featured reviews</h2>
    <p><%= render partial: "review", collection: @featured_reviews %></p>
  </div>

</div>
