<%= form_for @review do |f| %>

<% if @review.errors.any? %>

  <div class="errors">
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<%= simple_form_for @review do |f| %>
  <%= f.input :restaurant, placeholder: "Restaurant name", :maxlength => 25 %>
  <%= f.input :address %>
  <%= f.input :title, placeholder: "Review title" %>
  <%= f.input :body, size: "70x40", placeholder: "Type your full review"%>
  <%= f.input :cuisine, placeholder: "Cuisine type", :maxlength => 20%>
  <%= f.input :price, as: :radio_buttons, collection: [['£', '£'], ['££', '££'], ['£££', '£££']], label_method: :first, value_method: :second %>
  <%= f.input :score, placeholder: "0-10", class: "score-input" %>
  <%= f.input :ambiance, placeholder: "e.g. Buzzing" %>
  <%= f.input :photo %>
  <%= f.button :submit, class: "submit-button", value: "Save Review" %>
<% end %>


<% end %>
