<% content_for :page_title, @review.title  + " - "  %>

  <div class="show-card">

    <h1>
      <%= @review.restaurant %>
    </h1>

    <% if @review.address.present? %>
      <%= simple_format @review.address %>
    <% end %>

    <h2>
      <%= @review.cuisine %>
    </h2>

    <div class="score">
      <p>
        <%= @review.score %>
        / 10
      </p>
    </div>

    <h2 class="card-title">
      <%= @review.title %>
    </h2>

    <div class="body">
      <%= simple_format @review.body %>
    </div>

    <div class="qualities">
      <div class="ambiance half">
        <% if @review.ambiance.present? %>
          <p>
            Ambiance:
          </p>
          <p>
            <%= @review.ambiance %>
          </p>
        <% end %>
      </div>

      <div class="price half">
        <% if @review.price.present? %>
          <div class="price">
            <p>
              Price:
            </p>
            <p>
              <%= @review.price %>
              / £££
            </p>
          </div>
        <% end %>
      </div>

    </div>

    <div class="actions">
      <!-- Modify link only available to singed-in users -->
      <% if @review.user == @current_user %>
        <!-- Edit link only available if review is less than 60min old -->
        <% if @review.created_at > 1.hour.ago %>
          <p class="modify">
            <%= link_to "Edit this review", edit_review_path(@review) %>
          </p>
        <% end %>
      <% end %>

      <p class="posted">
        Written by
        <% if @review.user.present? %>
          <%= link_to @review.user.username, user_path(@review.user) %>
        <% else %>
          Anon
        <% end %>
      </p>

      <p class="posted">
        <% if is_logged_in? %>
          <% if @review.bookmarks.where(user: @current_user).any? %>
            <%= link_to "Unbookmark", review_bookmark_path(@review), method: :delete %>
          <% else %>
            <%= link_to "Bookmark", review_bookmark_path(@review), method: :post %>
          <% end %>
        <% end %>
        </p>

        <!-- Modify link only available to singed-in users -->
        <% if @review.user == @current_user %>
          <p class="modify">
            <%= link_to "Delete this review", review_path(@review), method: :delete, data: { confirm: "Are you sure??" } %>
          </p>
        <% end %>
      </div>

    </div>

    <!------------------------>
    <!--- Comments section --->
    <!------------------------>

    <% if @review.comments.present? %>
      <h3>Comments</h3>

      <% @review.comments.order("created_at desc").each do |comment| %>

        <div class="comment">
          <%= simple_format comment.body %>
          <p class="posted">Posted
            <%= time_ago_in_words comment.created_at %>
            ago</p>
          <p class="posted">by
            <% if comment.user.present? %>
              <%= link_to comment.user.username, user_path(comment.user) %>
            <% else %>
              Anon
            <% end %>
          </p>
        </div>

      <% end %>
    <% end %>

    <h3>Add a comment</h3>
    <%= simple_form_for [@review, Comment.new] do |f| %>
    <%= f.input :body, placeholder: "Type your comment", class: "comment-input" %>
    <%= f.button :submit, "Add comment" %>
  <% end %>
