<!DOCTYPE html>
<html>
  <head>
    <!-- :page_title is a symbol (it won't change) and can be named however you like -->
    <title><%= content_for :page_title %>Bien Reviews - The best restaurants in the world</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <nav class="logo center">
        <h1>
          <%= link_to root_path do %>
          <%= image_tag "bien-logo.svg" %>
        <% end %>
      </h1>
    </nav>
    <div class="tagline center">
      <p>The best restaurant reviews in the world</p>
    </div>

  </header>

<main>
  <%= yield %>
</main>

  <footer>
    <p class="small">Copyright&copy; 2019</p>
  </footer>

</body>
</html>
