<h1>Edit account</h1>

<%= simple_form_for @current_user, url: account_path do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :photo %>
  <%= f.button :submit, class: "button", value: "Update account" %>
<% end %>
